.wrapper {
  display: flex;
}

.side_wrapper {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.main_wrapper {
  height: 100vh;
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.side_header {
  padding: 0px 20px;
  height: 100px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-rooms {
  padding: 0px 20px;
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  overflow: scroll;
}

.main_header {
  height: 100px;
  padding: 0px 40px;
}

.main_messages {
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0px 40px;
}

.main_bottom {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}

.user-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;

}

.chat-link a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.chat-room{
  padding: 20px 0px 40px;
}

.chat-room a{
  color: white;
  text-decoration: none;
}