.wrapper {
  display: flex;
}

.side_wrapper {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.main_wrapper {
  height: 100vh;
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.side_header {
  padding: 0px 20px;
  height: 100px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-rooms {
  padding: 0px 20px;
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  overflow: scroll;
}

.chat-header {
  height: 100px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
}

.main_messages {
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0px 40px;
  overflow: scroll;
}

.main_bottom {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.user-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;

}

.chat-link a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.chat-room{
  padding: 20px 0px 40px;
}

.chat-room a{
  color: white;
  text-decoration: none;
}

.header-title {
  color:#333;
  font-size: 24px;
  margin-top:36px
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}

.message {
  margin-top: 10px;
}

.upper-message {
  display: flex;
}

.message-user {
  font-size: 16px;
  color: #434A54;
}

.message-date {
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  font-size: 14px;
  color: #434A54;
  margin-bottom: 40px;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  display: block;
  height: 50px;
  width:100%;
  padding-left: 10px;
}

.form-submit {
  display: block;
  background-color: #38AEF0;
  border: none;
  height:50px;
  font-size: 16px;
  color: white;
  padding: 0 20px;
  margin-left: 15px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}